<footer>
	<div id="f-1-box">
		<a href="https://cloudinvoice.co.jp/aboutus" target="_blanck">会社情報</a>
		<a href="https://cloudinvoice.co.jp/terms" target="_blanck">利用規約</a>
		<a href="https://cloudinvoice.co.jp/privacy" target="_blanck">プライバシーポリシー</a>
		<a href="https://cloudinvoice.co.jp/legal" target="_blanck">特定商取引法に基づく表示</a>
		<a href="https://cloudinvoice.co.jp/invoice/operator" target="_blanck">お問い合わせ</a>
		<br>
		<small>
			Cloud Invoice, Inc.
		</small>
	</div>
</footer>
