<header>
	<a href="/index">
		<h1>
			<img src="/images/logo2.png" width="250px">
		</h1>
	</a>
	<nav>
		<ul>
			<li><a href="/terms">利用規約</a>
				｜
			<li><a href="/privacy">プライバシーポリシー</a>
		</ul>
	</nav>
</header>
