<script src="//storage.cloudinvoice.co.jp/js/jquery-1.11.1.min.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
$('#file').change(function() {
    $("#file").upload('make_thumb.php', function(res) {
        alert(res.filename);
    }, 'json');
});
/*
$j = jQuery;
jQuery(function($){
	//送信ボタンの非表示
	$('#submit').hide();
	
	
	//フォームの内容が変更されたとき
	$('#img').change(function() {
	    var preview = $('#preview');
		
	    //現在表示されているものを消す。
	    preview.find("img").fadeOut(300);
 
	    //アップロード
	    $(this).upload(
			'upload.php',
			$("form").serialize(),
			function(html){
			//サムネイルの表示
	        	preview.html(html).animate({"height":preview.find("img").height()+"px"},300,function(){
	            	preview.find("img").hide().fadeIn(300);
	        	});
	    	},'html');
	});
 
	//離れるときに画像を削除
	$(window).bind("beforeunload",function(){
		var unlinkFile = $("#postPhotoName").val();
		$.ajax({
			async: false,
			cache: false,
			type:	"POST",
			url:	"upload.php",
			data:	"postPhotoName="+unlinkFile
 
		});
 
	});
 
});
*/
</script>

<form method="post" name="" enctype="multipart/form-data" action="make_thumb.php">
<input type="file" name="img" id="file">
<input type="submit" id="submit" />
<div id="preview"><div>ここにプレビューが表示されます</div></div>
</form>
